<%- include('partials/header') %>
  <body class="d-flex h-100 text-center text-bg-dark">    
<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Lumos.ai</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="/create">Create Worksheet</a>
        <a class="nav-link fw-bold py-1 px-0" href="/access">Answer Worksheet</a>
      </nav>
    </div>
  </header>

  <main class="w-100 py-3">
    <h1><%- worksheet.title %></h1>
    <p class="lead">Each question carries 3 marks. All the best! </p>
    <p class=""lead><b>Worksheet ID is <%- id %>.</b></p>
    <div style="background-color: #16191c;border-radius: 15px;" class="p-3"><form action="/ocr" method="post" enctype="multipart/form-data">
      <input type="file" id="file" name="file" class="form-control" accept=".jpg,.png,.jpeg">
      <p class="lead"></p>
      <p class="lead"><b><a href="ocr_guidelines.pdf" style="color:white">Important! OCR Submission Guidelines</a></b></p>
      <p class="lead"></p>
      <p class="lead">
        <button class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit">Submit as Text</button>
      </p>
      <div style="display:none">
        <input type="text" class="form-control" id="id" name="id" value="<%- id %>">
      </div>
    </form>
    <p class="lead">OCR is done using a custom Nanonets model. The total time for OCR is around 20-30 seconds, so you will have to wait.</p></div>
    <p class="lead"></p>
    <h2>OR</h2>
    <p class="lead"></p>
    <div style="background-color: #16191c;border-radius: 15px;" class="p-3">
    <form action="/answer" method="post">
      <div class="mb-3">
        <label for="topic" class="form-label"><b><%- worksheet.q1 %></b></label>
        <input type="text" class="form-control" id="a1" name="a1" aria-describedby="firstAnswer" placeholder="Your answer here" required>
      </div>
      <div style="display:none">
        <input type="text" class="form-control" id="id" name="id" value="<%- id %>">
      </div>
      <div class="mb-3">
        <label for="topic" class="form-label"><b><%- worksheet.q2 %></b></label>
        <input type="text" class="form-control" id="a2" name="a2" aria-describedby="secondAnswer" placeholder="Your answer here" required>
      </div>
      <p class="lead">After you click submit, you will have to wait on this page for around 5 seconds before your results load in, since your answers will be run through a custom version of ChatGPT for correction. You may have to reload this page since GPT does not give answers in perfect JSON format always.</p></div><p class="lead"></p>
      <p class="lead">
        <button class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit">Submit Answers</button>
      </p>
    </form>
  </main>
<%- include('partials/footer') %>